*{
  margin: 0px;
  padding: 0px;
}

html{
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

.logo{
  height: 50px;
}

.nav{
  padding-top: 10px;
}

.nav-link{
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 70%;
  font-family: "Lato","Verdena";
}

header{
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.header-text{
  background-color: transparent;
  color: #fff;
  margin-top: 130px;
  margin-bottom: 0px;
  word-spacing: 4px;
  padding-top: 100px;
}

.tagline-header{
  font-family: 'Bebas Neue';
  font-size: 80px;
}

.tagline-header-small{
  font-family: 'Baskervville', serif;
  font-size: 25px;
  margin-bottom: 20px;
  font-style: italic;
}

.btn{
  background-color: #efa738;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  color: black;
  transition: 0.5s;
}

.btn:hover{
  opacity: 0.8;
  color: black;
}

#videoBG{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 90%;
  width: auto;
  height: auto;
  z-index: -1;
  filter: brightness(70%);
}

.section1{
  min-height: 100vh;
}

.gallery-block{
  padding-bottom: 60px;
  padding-top: 60px;
}

.hr1{
  background: #1e5799;
  background: linear-gradient(to right,  #1e5799 70%,#efa738 50%);
  width: 50px;
  height: 3px;
  margin-left: 2px;
  margin-top: 0px;
}

 .item{
  overflow: hidden;
  margin-bottom: 0px;
  background-color: black;
  opacity: 1;
}

 .item img{
  transition: 0.8s ease;
}

.item .info{
  position: relative;
  display: inline-block;
}

.item .description{
  display: grid;
  position: absolute;
  bottom: 0px;
  left: 0;
  color: #fff;
  padding: 20px;
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 1;
  color: #fff;
  transition: 0.8s ease;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.39));

}

.description .description-heading{
  text-align: left;
  font-size: 1em;
  font-weight: bold;
}

.h-txt{
  border-bottom: 2px solid #efa738;
  padding-bottom: 2px;
}

.description .description-body{
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 300;
  text-align: justify;
}

.section2{
  min-height: 100vh;
  background-color: #d5d1ce;
}

.text-wrapper .container h4{
  margin-bottom: 0px;
  font-size: 30px;
}

.ab-column-2  h6{
  font-style: italic;
  font-weight: 150;
  margin-bottom: 10px;

}


.text-wrapper{
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  height: 100%;
  width:100%;
}

.abheader{
  font-weight: bold;
  padding-top: 40px;
  border-bottom: 2px solid #efa738;
  padding-bottom: 2px;
  font-size: 30px;
}

.abheadercon{
  padding-top: 40px;
  padding-bottom: 10px;
}

.abcon{
  padding-top:70px;
  padding-bottom: 20px;
}

.section3{
  min-height: 90vh;

}

footer{
  min-height: 10vh;
  background-color: #393535;
}

.cucon{
  padding-top:70px;
  padding-bottom: 20px;
}

.sbtn{
  background-color: #efa738;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 5px;
  border: 0px;
}

.sbtn:hover{
  opacity: 0.8;
}



.ft2{
  padding-top: 15px;
  font-size: 100%;
  color: #fff;
  margin-bottom: 0px;
}

.ft3{
  margin-bottom: 0px;
  color: #fff;
  font-style: italic;
  font-size: 80%;
}

.rtBtn{
  position: fixed;
  bottom: 11px;
  right: 20px;
  z-index: 99;
  font-size: 30px;
}

.rtBtn a:link,.rtBtn a:visited{
  color: #efa738;
}


@media(max-width: 820px) {
  .ab-column-2{
    height: 370px;
  }

  .abcon{
    padding-top:70px;
    padding-bottom: 20px;
  }


  .header-text{
    padding-top: 0px;
    margin-top: 16px;
    padding-bottom: 10px;
  }

  .tagline-header{
    font-size: 50px;
  }

  .btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold;
    transition: 0.5s;
  }

.p1{
  max-width: 100%;
  height: auto;
 }

 .c2{
   height:107px;
 }

 .textcon{
   height: 30px;
   width: 520px;
 }

 .header-text{
   margin-top: 80px;
   padding-bottom: 80px;
 }

 .item img{
   opacity: 0.7
 }
 .gallery-block.compact-gallery .item a .description {
   opacity: 1;
 }
}

@media(max-width: 980px) {
  .ab-column-2{
    height: 370px;
  }

  .ab-column-2{
    height: 370px;
  }

  .item img{
    opacity: 0.7
  }
}

@media (max-width:400px) {

}


@media (min-width: 800px) {

  .header-text{
    margin-top: 80px;
  }

  .gallery-block.compact-gallery .item .description {
    opacity: 0;
  }

  .gallery-block.compact-gallery .item a:hover .description {
    opacity: 1;
  }

  .gallery-block .zoom-on-hover:hover img {
    transform: scale(1.3);
    opacity: 0.7;
  }
}
